    <!-- SIDEBAR  -->
        <div class="row">
            <div class="col-4 col-md-12 mt-3">
                <div class="text-center">
                <img src="/src/assets/img/CV4.png" class="" id="sidebar-image" alt="Esteban Pisani">
                </div>
                <h2 class="fs-1 text-center" style="font-family: 'Alegreya', serif">{{datosSide.position}}</h2>
                <hr>
            </div>

            <div class="col-4 col-md-12 mt-3">
                <div class="container-md">
                    <h3 class="text-center text-md-start text-xxl-center" style="font-family: font-titillium, sans-serif">Links</h3>
                    <ul class="list-group list-group-flush bg-transparent">

                        <a href="{{datosSide.repo}}" target="_blank" class="bg-transparent list-group-item text-warning text-center text-md-start text-xxl-center" aria-current="page">
                            <i class="fa-brands fa-github"></i> Repositorio en GitHub.
                        </a>
                        <a href="{{datosSide.linkedin}}" target="_blank" class="bg-transparent list-group-item text-warning text-center text-md-start text-xxl-center">
                            <i class="fa-brands fa-linkedin"></i> Perfil en LinkedIn
                        </a>
                        <a href="{{datosSide.email}}" target="_blank" class="bg-transparent list-group-item text-warning text-center text-md-start text-xxl-center">
                            <i class="fa-solid fa-envelope"></i> {{datosSide.email}}
                        </a>

                    </ul>
                    <hr>
                </div>
            </div>
            <div class="col-4 col-md-12 mt-3">
                <div class="container-md">
                    <h3 class="text-center text-md-start text-xxl-center" style="font-family: font-titillium, sans-serif">Skills</h3>
                    <ul class="list-group list-group-flush bg-transparent">
                        <li class="list-group-item bg-transparent text-warning text-center text-md-start text-xxl-center">
                            <i class="fa-brands fa-java"></i> Java
                        </li>
                        <li class="list-group-item bg-transparent text-warning text-center text-md-start text-xxl-center">
                            <i class="fa-solid fa-leaf"></i> Spring Framework
                        </li>
                        <li class="list-group-item bg-transparent text-warning text-center text-md-start text-xxl-center">
                            <i class="fa-brands fa-html5"></i> HTML5
                        </li>
                        <li class="list-group-item bg-transparent text-warning text-center text-md-start text-xxl-center">
                            <i class="fa-brands fa-css3-alt"></i> CSS3
                        </li>
                        <li class="list-group-item bg-transparent text-warning text-center text-md-start text-xxl-center">
                            <i class="fa-brands fa-js"></i> JavaScript
                        </li>
                        <li class="list-group-item bg-transparent text-warning text-center text-md-start text-xxl-center">
                            <i class="fa-solid fa-database"></i> MySQL
                        </li>
                    </ul>
                </div>    
            </div>
        </div>