<nav id="navbar" class="navbar navbar-expand-md pb-3 header">
    <div class="container-fluid">
        <a class="navbar-brand text-warning fs-1" style="font-family: 'Alegreya', serif" href="#">{{persona.nombre}} {{persona.apellido}}</a>
        <ul class="navbar-nav px-3">
            <li class="nav-item px-2">
                <a class="nav-link text-warning" href="#educacion-section">Educación I.T.</a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link text-warning" href="#experiencia-section">Experiencia Laboral</a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link text-warning" href="#proyectos-section">Proyectos Web</a>
            </li>
            <li class="nav-item px-3">
                <a *ngIf="!isLogged" class="btn btn-outline-warning" href="/login"><i class="fa-solid fa-right-to-bracket"></i> Iniciar Sesión</a>
            </li>
            <li class="nav-item px-3">
                <a *ngIf="isLogged" class="btn btn-outline-warning" (click)="onLogOut()"><i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesión</a>
            </li>
        </ul>
    </div>
</nav>
