<!-- CONTENT  -->
    <div class="card bg-dark" id="educacion-section">
        <h3 class="card-header text-center text-md-start text-xxl-center" style="font-family: font-titillium, sans-serif">Educación I.T.</h3>
        <ul class="list-group" *ngFor="let instituto of educationList">
            <li class="list-group-item list-group-item-dark">
                <div class="card-body list-group-flush">
                    <a href="{{instituto.link}}" target="_blank" class=" bg-transparent list-group-item text-center text-md-start text-xxl-center">
                        <h5 class="card-title">{{instituto.name}} | {{instituto.date}}</h5>
                    </a>
                    <p class="card-text text-center text-md-start text-xxl-center">{{instituto.description}}</p>
                </div>
            </li>
        </ul>
    </div>

    <div class="card bg-dark" id="experiencia-section">
        <h3 class="card-header text-center text-md-start text-xxl-center" style="font-family: font-titillium, sans-serif">Experiencia Laboral</h3>
        <ul class="list-group" *ngFor="let trabajo of experienceList">
            <li class="list-group-item list-group-item-dark">
                <div class="card-body list-group-flush">
                    <a href="{{trabajo.link}}" target="_blank" class=" bg-transparent list-group-item text-center text-md-start text-xxl-center">
                        <h5 class="card-title">{{trabajo.name}} | {{trabajo.date}}</h5>
                    </a>
                    <p class="card-text text-center text-md-start text-xxl-center">{{trabajo.description}}</p>
                </div>
            </li>
        </ul>
    </div>

    <div class="card bg-dark" id="proyectos-section">
        <h3 class="card-header text-center text-md-start text-xxl-center" style="font-family: font-titillium, sans-serif">Proyectos</h3>
        <ul class="list-group" *ngFor="let proyecto of projectList">
            <li class="list-group-item list-group-item-dark" >
                <div class="card-body list-group-flush">
                    <a href="{{proyecto.link}}" target="_blank" class=" bg-transparent list-group-item text-center text-md-start text-xxl-center">
                        <h5 class="card-title">{{proyecto.name}}</h5>
                    </a>
                    <p class="card-text text-center text-md-start text-xxl-center">{{proyecto.description}}</p>
                </div>
            </li>
        </ul>
    </div>