<nav class="navbar navbar-expand-md pb-3 header" style="background: linear-gradient(to left, #24252A,#000000)">
    <div class="container-fluid">
        <a class="navbar-brand text-warning fs-1" style="font-family: 'Alegreya', serif" href="#">{{datosHeader.name}}</a>
        <ul class="navbar-nav px-5">
            <li class="nav-item px-2">
                <a class="nav-link text-warning" href="#educacion-section">Educación I.T.</a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link text-warning" href="#experiencia-section">Experiencia Laboral</a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link text-warning" href="#proyectos-section">Proyectos Web</a>
            </li>
        </ul>
    </div>
</nav>